@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  background-color: #f4f4f4;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.gU.Up {
  display: flex;
}
#cmail-button {
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(160, 38, 38);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  margin-left: 0px;
  position: relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 0;
  border-top-right-radius: 18px;
}

div#cmail-dropup {
  display: block;
  background-color: rgb(249, 249, 249);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px;
  padding: 10px;
  border-radius: 4px;
  min-height: 360px;
  max-height: 400px;
  width: 350;
  font-family: "Google-sans", sans-serif;
  overflow-y: auto;
  z-index: 10000;
  width: 390px;
}
#cmail-dropup::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}

#connect {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  display: none;
}

#send-button {
  color: white;
  padding: 10px 15px;
  border: none;
  height: 16px;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
  background-color: rgb(160, 38, 38);
  border-radius: 5px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 18px;
  border-top-right-radius: 0;
  margin-left: 7px;
}

.template {
  background: white;
  flex-direction: column;
  width: 500px;
  margin: auto;
  display: flex;
  height: 400px;
  margin-top: 15vh;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#email-body {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

#email-body:focus,
textarea:focus {
  border-color: #4caf50;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.2);
}

#save-button {
  background-color: #4caf50;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

#save-button:hover {
  background-color: #45a049;
}

#save-button:focus {
  outline: none;
}

.containerContent {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.template .form-content {
  width: 70%;
  padding: 20px;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
}

#close-button:focus {
  outline: none;
}

#close-button:hover {
  color: #ff5c5c;
}

#configure-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.change-template {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.g2_settings_accordions {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
  border-top: 0.1px solid #0000004f;
  padding: 10px;
}

.g2_tracking.g_accordian {
  border: 1px solid #bebcbc;
  background-color: #f6f6f6;
  border-radius: 4px;
  min-height: 38px;
  position: relative;
  max-width: 538px;
  margin: 0px 9px 5px;
}

.g_accordian_title {
  font-size: 13px;
  color: rgb(43, 44, 46);
  font-weight: bold;
  padding: 10px 13px;
  cursor: pointer;
}

.g_accordian_content {
  padding: 10px;
  overflow-y: auto;
  max-height: 250px;
  margin-right: 10px;
  font-size: 14px;
}

.g_accordian {
  border: 1px solid #bebcbc;
  background-color: #f6f6f6;
  border-radius: 4px;
  min-height: 38px;
  position: relative;
  max-width: 538px;
  margin: 0px 9px 5px;
}

.g_accordian {
  margin-bottom: 10px;
}

.change-template,
.g2_tracking,
.g2_action {
  margin: 15px 0;
}

button#configure-button {
  padding: 8px 12px;
  font-size: 14px;
  margin: 5px 0;
}

span {
  font-size: 16px;
}

.g_hide_on_collapse {
  padding-left: 10px;
}

.g2_action {
  margin-top: 20px;
}
.g2_checkbox {
  padding-right: 10px;
}
.blank-header {
  height: 10px;
  background: rgba(0, 0, 0, 0.534);
  margin-bottom: 10px;
}

input#email-subject {
  margin-bottom: 10px;
  padding: 10px;
}
.gmass-bump {
  margin: 12px;
}
.sending {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  z-index: 100000;
  padding-left: 10px;
}
.sending::before {
  content: "";
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.send-text {
  padding: 5px;
}

input#days {
  width: 10px;
  font-size: 14px;
}
.ending {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  color: black;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px;
  align-items: center;
  z-index: 100000;
  padding-left: 10px;
}

.ending-text {
  margin: 0;
  display: flex;
  align-items: center;
}

.ending-text svg {
  margin-right: 5px;
  animation: spin 5s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.arrow-btn {
  background-color: rgb(160, 38, 38);
  cursor: pointer;
  color: white;
  transition: transform 0.3s;
  padding: 1px 2px;
  font-size: 14px;
  border: none;
  border-left: 1px solid black;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s;
}

.arrow-btn:focus {
  outline: none;
}

.rotate {
  transform: rotate(-180deg);
}

.active {
  display: block;
}
.sheet-list-container {
  width: 100vw;
  height: 100vh;
  background: #00000073;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}
.hidden {
  display: none;
}

#sheet-button:hover {
  background: #d62828
    url("https://cdn.gmass.us/Extension2019Images/icon_import_w.png") center
    center no-repeat;
}

#sheet-button,
.sheet-button {
  height: 38px !important;
  width: 40px !important;
  border-radius: 4px !important;
  background: #f5f6f6
    url("https://cdn.gmass.us/Extension2019Images/icon_import.png") center
    center no-repeat;
  background-size: 20px auto !important;
  cursor: pointer !important;
  padding: 0 !important;
  margin-left: 10px !important;
  margin-right: 5px !important;
  margin-top: 5px !important;
  transition: 0.1s !important;
  position: relative;
  overflow: hidden;
  display: block;
  color: white;
  font-weight: bold;
  font-size: 11px;
}

iframe {
  position: absolute;
  width: 460px;
  height: 450px;
  border: none;
  bottom: 10px;
  left: 70px;
  right: 0px;
  overflow: hidden;
}
.msg-box {
  position: fixed;
  bottom: 10px;
  background: white;
  color: black;
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid;
  z-index: 99;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  background: #ccc;
}
::-webkit-scrollbar-track-piece {
  background: #888;
}
::-webkit-scrollbar-thumb {
  background: #eee;
}
